<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ _VueSSR_Title }}</title>
    <meta name="description" id="discription" content="{{ _VueSSR_Description }}">
    <meta id="keywords" content="{{ _VueSSR_Keywords }}" name="keywords" />
    <meta name="author" content="DoraCMS">

    <%if(NODE_ENV !== 'development'){%>
    <link rel="stylesheet" href="/client/css/<%=bundle%>.css">
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?00bedeafedf2236ccbe9706d3a9e09b3";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <%}%>
</head>
<body>
    {{ APP }}
    <%if(NODE_ENV !== 'development'){%>
    <script src="/dll/dll.vendor.js"></script>
    <%}%>
    <script src="/client/js/<%=bundle%>.js"></script>
</body>
</html>