html, body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #000;
}