html,
body {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #000;
}