<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=siteInfo.cmsDescription%>">
    <meta content="<%=siteInfo.keywords%>" name="keywords" />
    <meta name="author" content="DoraCMS">
    <title>
        <%=siteInfo.title%>
    </title>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.0.9/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcss.com/element-ui/2.0.9/index.js"></script>
    <!-- <script src="/javascripts/jquery-1.10.2.min.js?vesion=<%=siteInfo.version%>" type="text/javascript"></script> -->

    <!-- <link href="/plugins/bootstrap/css/bootstrap.min.css?vesion=<%=siteInfo.version%>" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js?vesion=<%=siteInfo.version%>" type="text/javascript"></script> -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">

    <!-- <script src="/javascripts/dora.public.js?vesion=<%=siteInfo.version%>"></script> -->
    <!--default theme-->
    <script src="/themes/<%=staticforder%>/js/dora.front.js?vesion=<%=siteInfo.version%>" type="text/javascript"></script>
    <!-- <link href="/themes/<%=staticforder%>/css/white.css?vesion=<%=siteInfo.version%>" rel="stylesheet"> --> -->
    <!--以下脚本为百度统计，可以删除-->


</head>

<body>
    <%- include('header.html') %>
        <%-body %>
            <!-- BEGIN FOOTER -->
            <%- include('footer.html') %>
</body>

</html>