<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en" class="html-{{pageType}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <title class="currentTitle">SEC-SOCIAL ECOMMERCE CHAIN</title>
    <meta name="description" content="the next generation of block-chain protocols in the e-commerce domain based on social trust">
    <meta id="i18n_pagename" content="index-common">
    <!-- <link href="/themes/{{staticforder}}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/themes/{{staticforder}}/css/main.css?v=1.0.7">
    <!--[if lt IE 9]> <link rel="stylesheet" href="/themes/{{staticforder}}/css/forie.css?v=1.0.5"> <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script> <![endif]-->

    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/themes/{{staticforder}}/plugins/jquery/jquery.i18n.properties-1.0.9.js"></script> {% if pageType != 'adminlogin' %}
    <script>
        if (navigator.userAgent.indexOf("MSIE 8.0") == -1 && navigator.userAgent.indexOf("MSIE 7.0") == -1 && navigator.userAgent.indexOf("MSIE 6.0") == -1) {
            document.write("<script src='/themes/{{staticforder}}/plugins/particles/particles.js'><" + '/' + "script>");
            document.write("<script src='/themes/{{staticforder}}/plugins/particles/app.js'><" + '/' + "script>");
        }
    </script> {% endif %}
    <script src="/javascripts/avalon.js"></script>
    <script src="/themes/{{staticforder}}/js/main.js?v=1.0.5"></script>

</head>

<body class="{{pageType}}">
    {% if pageType != 'adminlogin' %} {% include "./header.html" %} {% endif %} {% block content %}{% endblock %} {% if (pageType
    == 'referral') or (pageType == 'reg') %} {% elif pageType == 'adminlogin' %} {% else %} {% include "./footer.html" %}
    {% endif %}
</body>

</html>