<!--尾部模板-->
<div class="row footer" id="contact">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10 ">
        <div class="row">
            <div class="col-xs-12 col-md-9 left-pannel">
                <div class="tips">
                    <span class="i18n" name='contact-tip1' style="font-size:20px;">Social and Community</span>
                    <span class="i18n" name='contact-tip2'>If you have any questions about our product and community,please contact us</span>
                </div>
                <div id="btm-logo" class="logo">
                    <img src="/themes/{{staticforder}}/images/footer_logo.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 right-pannel">
                <ul>
                    <li class="qr-box" id="qr-box">
                        <div class="qr-img"></div>
                        <a href="javascript:;" target="_blank">
                            <img src="/themes/{{staticforder}}/images/wechat.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/joinchat/HszzcUiWaWtR5pPmOhDPwg" target="_blank">
                            <img src="/themes/{{staticforder}}/images/plane.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://weibo.com/SECblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/weibo.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/SECblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/twiter.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/SECblock/?ref=br_rs" target="_blank">
                            <img src="/themes/{{staticforder}}/images/facebook.png" alt="">
                        </a>
                    </li>
                    <li class="weiboblog">
                        <a href="http://blog.sina.com.cn/secblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/weiboblog.png" alt="">
                        </a>
                    </li>
                    <li class="wix">
                        <a href="https://infosecblock.wixsite.com/secblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/wix.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://secblock.slack.com/" target="_blank">
                            <img src="/themes/{{staticforder}}/images/shart.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/user/SECblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/monkey.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/SECblock" target="_blank">
                            <img src="/themes/{{staticforder}}/images/github.png" alt="">
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row friend-link">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <ul>
            <li>友情链接：</li>
            <li>
                <a href="https://www.feixiaohao.com/" target="_blank">非小号</a>
            </li>
        </ul>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>