<!--头部模板-->
<div class="row top-menu">
    <div class="col-xs-1 col-md-1">&nbsp;</div>
    <div class="col-xs-10 col-md-10 ">
        <span id="showMenu" class="icon iconfont right-menu" aria-hidden="true" style="display:none;">&#xe726;</span>
        <div class="logo">
            <img src="/themes/{{staticforder}}/images/logo.png" alt="">
        </div>
        <div class="navs">
            <ul>
                {% if (pageType != 'referral') and (pageType != 'reg') %}
                <li>
                    <a href="#" class="i18n" name='home'>home</a>
                </li>
                <li>
                    <a href="#project" class="i18n" name='SECTokens'>SEC Tokens</a>
                </li>
                <li>
                    <a href="#about-chain" class="i18n" name='project'>project</a>
                </li>
                <li>
                    <a class="wplink" href="/themes/{{staticforder}}/doc/SEC-whitepaper-v3.65.pdf" target="_blank" class="i18n" name='white-paper'>white paper</a>
                </li>
                <li>
                    <a href="#application" class="i18n" name='application'>application</a>
                </li>
                <li>
                    <a href="#teamwork" class="i18n" name='team'>team</a>
                </li>
                <li>
                    <a href="#roadmap" class="i18n" name='roadmap'>Roadmap</a>
                </li>
                <li style="display:none;">
                    <a href="#partners" class="i18n" name='partners'>partners</a>
                </li>
                <li>
                    <a href="#contact" class="i18n" name='contact-us'>contact us</a>
                </li>
                {% endif %}
                <li class="swich-language">
                    <div class="button-group">
                        <span class="zh-CN active">中文</span>
                        <span class="en">/EN</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-xs-1 col-md-1">&nbsp;</div>
</div>