{% extends "./public/defaultTemp.html" %} {% block content %}
<div class="row top-banner">
    <div class="center-logo">
        <div class="row" style="margin:0;">
            <div class="col-xs-1 col-md-2">&nbsp;</div>
            <div class="col-xs-10 col-md-8">
                <div class="particles-js" id="particles-js"></div>
                <div class="logo-text">
                    <h3 class="i18n" name='social-ec-chain'>SOCIAL ECOMMERCE CHAIN</h3>
                    <span class="i18n" name='secdes'>the next generation of block-chain protocols in the e-commerce domain based on social trust</span>
                </div>
            </div>
            <div class="col-xs-1 col-md-2">&nbsp;</div>
        </div>
    </div>
</div>
<div class="login-container index-login">
        {% include "./public/login.html" %}
</div>
<div class="row project-introduction" id="project">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <div class="list">
            <div class="title">
                <h1 class="i18n" name='sectitle'>WHAT ARE SEC TOKENS</h1>
                <p class="des i18n" name='secdetails'>SEC is a distributed common chain, distributed solution to transaction trust, to meet the decentralization
                    of e-commerce, social, content e-commerce revolution. SEC token is a proof of stake in the uniform use,
                    consumption, and transaction of the SEC block chain.</p>
            </div>
            <div class="use">
                <h1 class="i18n" name='secusetitle'>How SEC Tokens are Used</h1>
                <div class="des">
                    <ul>
                        <li>
                            <span>01</span>
                            <span class="line"></span>
                            <p class="i18n" name='secuse1'>A credit deposit for entry into the SEC s initial credit deposit and a new transaction relationship.</p>
                        </li>
                        <li>
                            <span>02</span>
                            <span class="line"></span>
                            <p class="i18n" name='secuse2'>Used to pay for the purchase of goods, but the use of SEC to buy and sell goods is not necessary
                                to use SEC Tokens as a means of payment.</p>
                        </li>
                        <li>
                            <span>03</span>
                            <span class="line"></span>
                            <p class="i18n" name='secuse3'>Generate a block chain token based on SEC smart Contrat for specific domains or brands to pay
                                for fees.</p>
                        </li>
                        <li>
                            <span>04</span>
                            <span class="line"></span>
                            <p class="i18n" name='secuse4'>It is used to pay for the Dapp fees for various purchases and sales of goods provided by the
                                SEC development community.</p>
                        </li>
                        <li>
                            <span>05</span>
                            <span class="line"></span>
                            <p class="i18n" name='secuse5'>It is used to gain an interest in block chain billing costs.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="tokend-distribution" ms-controller="tokend-distribution" id="int-progress">
    <div class="row container">
        <div class="col-xs-1 col-md-1">&nbsp;</div>
        <div class="col-xs-10 col-md-10 ">
            <div class="content">
                <div class="row how-use">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 purchase-area">
                        <p class="i18n" name='pursechain-notice'>In case of purchasing or trading SEC Token, please make sure that to check and accept the terms and
                            conditions, and register user information for kyc certification.</p>
                        <div class="conditions-btn">
                            <a href="/themes/{{staticforder}}/doc/SEC-T-Cs.pdf" class="conditionlink i18n" name='purchasing-conditions-btn'>Check the terms and conditions</a>
                        </div>
                        <a href="javascript:void(0)" class="accept-conditions" ms-on-mousedown="@checkConditions">
                            <div class="i18n txt" name='pursechain-accept-conditions'>Accept the terms and conditions</div>
                            <span class="checkme">
                                <i :visible="@checkState" class="icon iconfont">&#xe670;</i>
                            </span>
                        </a>
                        <div class="reg-btn">
                            <button disabled="disabled" ms-on-mousedown="@getToReg" id="pursechain-reg" :class="['i18n','txt',!@checkState && 'disabled']"
                                name='pursechain-reg-btn'>Register</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-md-1">&nbsp;</div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="row project-introduction" id="application">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10 ">
        <div class="list">
            <div class="row list-items">
                <div class="about-chain" id="about-chain">
                    <h1 class="i18n" name='abouttitle'>ABOUT SOCIAL ECOMMERCE CHAIN</h1>
                    <p class="i18n" name='aboutdis'>SEC is the first block chain project based on the trust relationship in the world to promote e-commerce
                        socializing, decentralization, In view of the huge market demand, the SEC supports large concurrency.</p>
                </div>
                <div class="col-xs-12 col-md-4 characteristic">
                    <span class="tname i18n" name='aboutitem1-title'>SCALABILITY</span>
                    <span class="line"></span>
                    <p class="details i18n" name='aboutitem1-CONTENT'>based on the scale of P2P e-commerce transactions, considering the current mobile computing power, bandwidth
                        changes and storage conditions, when block chains handle resources for individual transactions, the
                        underlying mechanism needs to be designed to take into account the "low time consuming" and "low
                        energy consumption" processing capacity.</p>
                </div>
                <div class="col-xs-12 col-md-4 characteristic">
                    <span class="tname i18n" name='aboutitem2-title'>GOVERNANCE</span>
                    <span class="line"></span>
                    <p class="details i18n" name='aboutitem2-CONTENT'>the infrastructure needs to be simple enough to retain the flexibility to evolve and adapt over time
                        and to make decisions that are highly inclusive, rational, and transparent to provide effective leadership
                        for decentralized systems.</p>
                </div>
                <div class="col-xs-12 col-md-4 characteristic">
                    <span class="tname i18n" name='aboutitem3-title'>APPLICABILITY</span>
                    <span class="line"></span>
                    <p class="details i18n" name='aboutitem3-CONTENT'>on the basis of basic protocol common chain and service layer, ordinary users can carry out decentralized
                        e-commerce application conveniently.</p>
                </div>
            </div>
            <div class="white-paper">
                <a class="wplink" href="/themes/{{staticforder}}/doc/SEC-whitepaper-v3.66.pdf" target="_blank">
                    <i class="icon iconfont">&#xe66d;</i> &nbsp;
                    <span class="i18n" name='whitepapertxt'>White paper download</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="middle-content" id="roadmap">
    <div class="row time-line">
        <div class="col-xs-12 col-md-6 left-list">
            <ul>
                <div class="line"></div>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1712">DEC,2017</span>
                        <span class="i18n" name="tl1712-label">Dec 2017 SEC DPOS and p2p network protocol</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1803">MAR,2018</span>
                        <span class="i18n" name="tl1803-label">Social Ecommerce application development out of SEC </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1804">APR,2018</span>
                        <span class="i18n" name="tl1804-label">Commodity display application code of WEB open source,and upload to github</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1805">MAY,2018</span>
                        <span class="i18n" name="tl1805-label">Commodity display application code of APP open source,and upload to github</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1809">SEP,2018</span>
                        <span class="i18n" name="tl1809-label">SEC Leibniz version，SEC wallet，SEC browser,DAPP develeop framwork,smart contract based ERC233</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1810-l">OCT,2018</span>
                        <span class="i18n" name="tl1810-l-label">SEC AS adn BGC, transation gateway</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1812">DEC,2018</span>
                        <span class="i18n" name="tl1812-label">Service over Block package，SEC Winner version</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1903">MAR,2019</span>
                        <span class="i18n" name="tl1903-label">SEC Turing version,TPS made a breakthrough</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont turn-right">&#xe66c;</i>
                    <i class="icon iconfont turn-left" style="display:none">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1906">JUN,2019</span>
                        <span class="i18n" name="tl1906-label">SEC network expansion</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 time-center-line" style="display:none"></div>
        <div class="col-xs-12 col-md-6 right-list">
            <ul>
                <div class="line"></div>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1707">JUL,2017</span>
                        <span class="i18n" name="tl1707-label">Social ecommerce model test of maizuo </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1802">FEB,2018</span>
                        <span class="i18n" name="tl1802-label">SEC technical cooperat with maizuo social ecommerce </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1806">OCT,2018</span>
                        <span class="i18n" name="tl1806-label">SEC promotion in Toronto with partners</span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1810-r">OCT,2018</span>
                        <span class="i18n" name="tl1810-r-label">80 thousand exsiting agent,as the creation of the SEC trust ,acess to SEC and application
                        </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1810-1">OCT,2018</span>
                        <span class="i18n" name="tl1810-1-label">SEC promotion in Shanghai with partners
                        </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1811">NOV,2018</span>
                        <span class="i18n" name="tl1811-label">SEC promotion in Silicon Valley with partners
                        </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1902">FEB,2019</span>
                        <span class="i18n" name="tl1902-label">SEC promotion in München with partners
                        </span>
                    </div>
                </li>
                <li>
                    <i class="icon iconfont">&#xe66b;</i>
                    <div class="block-area">
                        <span class="i18n time" name="tl1906-1">JUN,2019</span>
                        <span class="i18n" name="tl1906-1-label">SEC promotion in Sydney with partners
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row member-info" id="teamwork">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10 ">
            <div class="group-member">
                <h3 class="i18n" name='tmtitle'>TEAM MEMBERS</h3>
                <ul>
                    <li class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 logo">
                                <img src="/themes/{{staticforder}}/images/chuyang.png" alt="">
                            </div>
                            <div class="col-xs-8 col-md-8 introduce">
                                <div class="name">
                                    <span class="uname i18n" name='collin-chu-name'>Collin Chu</span>
                                </div>
                                <ul class="dis">
                                    <li class="i18n" name='collin-chu-dis-1'>he has been the world’s third largest FinTech project leader for more than 20 years in
                                        China
                                    </li>
                                    <li class="i18n" name='collin-chu-dis-2'>North America bank application systems, financial software system design and research
                                        and development experience</li>
                                    <li class="i18n" name='collin-chu-dis-3'>Nanyang Polytechnic University, Singapore</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 logo">
                                <img src="/themes/{{staticforder}}/images/guhao.png" alt="">
                            </div>
                            <div class="col-xs-8 col-md-8 introduce">
                                <div class="name">
                                    <span class="uname i18n" name="oliver-gu-name">Oliver Gu</span>
                                </div>
                                <ul class="dis">
                                    <li class="i18n" name='oliver-gu-dis-1'>chairman of the North American E-Commerce Forum,co-founder of the Center for International
                                        Productivity Cooperation,Co-founder of the CAPC-China Business High-Tech Alliance
                                        and Co-Chair of the China-Canada E-Commerce High-Tech Summit</li>
                                    <li class="i18n" name='oliver-gu-dis-2'>Master of Science in computer Science, Bridgewater State University, Massachusetts, USA
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 logo">
                                <img src="/themes/{{staticforder}}/images/liuying.png" alt="">
                            </div>
                            <div class="col-xs-8 col-md-8 introduce">
                                <div class="name">
                                    <span class="uname i18n" name='rain-liu-name'>Rain Liu</span>
                                </div>
                                <ul class="dis">
                                    <li class="i18n" name='rain-liu-dis-1'>winner of the Ontario Outstanding Women Award</li>
                                    <li class="i18n" name='rain-liu-dis-2'>China and Canada Electronic Commerce Association Director, Li Sun and IBM Certified Senior
                                        engineer of Canadian multinational corporations</li>
                                    <li class="i18n" name='rain-liu-dis-3'>Former program host and planner of Canadian National Television, Canadian Chinese Radio
                                        and Fujian Zhangzhou TV Station</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                            <div class="col-xs-4 col-md-4 logo">
                                <img src="/themes/{{staticforder}}/images/chensiyu.png" alt="">
                            </div>
                            <div class="col-xs-8 col-md-8 introduce">
                                <div class="name">
                                    <span class="uname i18n" name="chen-siyu-name">Chen siyu</span>
                                </div>
                                <ul class="dis">
                                    <li class="i18n" name='chen-siyu-dis-1'>Graduated from the University of California</li>
                                    <li class="i18n" name='chen-siyu-dis-2'>Los Angeles (UCLA) computer department, in Amazon, Baidu and unicorn Procore Technologies,love
                                        block chain project development</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
</div>
<div class="row" style="background-color:#fff;margin:0;">
    <div class="col-xs-1 col-md-1">&nbsp;</div>
    <div class="col-xs-10 col-md-10">
        <div class="investment">
            <h3 class="i18n" name='iadtitle'>INVESTORS AND ADVISERS</h3>
            <div class="row">
                <div class="col-xs-12 col-md-6 l">
                    <ul class="adviser-member">
                        <li>
                            <label class="i18n" name='li-mengran-name'>Li Mengran</label>
                            <span class="i18n" name='li-mengran-dis'>head of technology landing in China, CEO of soda social ecommerce, the earliest real time linux
                                developer in China, and an Internet serial entrepreneur.Has worked for China Telecom Group.
                                INT Block chain team members</span>
                        </li>
                        <li>
                            <label class="i18n" name='wangxing-name'>Uranus</label>
                            <span class="i18n" name='wangxing-dis'>the co-founder of Showout, Tencent's top 100 employees, angel investors</span>
                        </li>
                        <li>
                            <label class="i18n" name='tanlei-name'>Tan Lei</label>
                            <span class="i18n" name='tanlei-dis'>block chain and big data mining expert, NASA founder of the North American </span>
                        </li>
                        <li>
                            <label class="i18n" name='shanfeng-name'>Shan Feng</label>
                            <span class="i18n" name='shanfeng-dis'>He is the person in charge of SEC technology China E-commerce, block chain veteran investors,
                                E-commerce operations experts, has worked in Alibaba B2B Division, served as Ali service
                                training department, operations department, product department in charge, has nine years
                                of rich experience in the E-commerce domain, provided service to more than 5,000 E-commerce
                                companies
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6 r">
                    <ul class="adviser-member right">
                        <li>
                            <label class="i18n" name='chen-yingkui-name'>Chen Yingkui</label>
                            <span class="i18n" name='chen-yingkui-dis'>the founder of Bestiny, Tencent's early employees, angel investors</span>
                        </li>
                        <li>
                            <label class="i18n" name='wangyong-name'>Wang Yong</label>
                            <span class="i18n" name='wangyong-dis'>An expert of National Thousand Talent Program, and a Ph.D. inDalhouse University, Canada, with
                                CFA and FRM certifications He was the former managing director of risk division inthe Royal
                                Bank of Canada.And he is the author of monographs on Financial risk Management ,risk Management
                                and derivative products, block chains, etc. He also serves as an academic consultant at the
                                Rottmann School of Management,University of Toronto,and an visiting professor in the University
                                of Croatia</span>
                        </li>
                        <li>
                            <label class="i18n" name='xiaomin-name'>Xiao Min</label>
                            <span class="i18n" name='xiaomin-dis'>Xiao A partner of Matrix Partners.Previous General Manager of Pinyin Plus, Product Manager of
                                Baidu TV,the general manager of IT Business Division in Tianji MediaShe currently specializes
                                in the investment in Internet, e-commerce, wireless, software and other areas</span>
                        </li>
                        <li>
                            <label class="i18n" name='zhao-yafu-name'>Zhao Yafu</label>
                            <span class="i18n" name='zhao-yafu-dis'>director of risk control, Guangdong Zhuotai Investment Management Co., Ltd</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-1">&nbsp;</div>
</div>
<div class="row cooperative-partner" id="partners" style="display:none;">
    <div class="container-box">
        <div class="col-xs-1 col-md-1">&nbsp;</div>
        <div class="col-xs-10 col-md-10">
            <h3 class="i18n" name='partnertitle'>PARTNERS</h3>
            <div class="partner-list">
                <div class="row">
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="https://www.ibm.com/cn-zh/">
                            <img src="/themes/{{staticforder}}/images/ibm.png" alt="">
                            <span class="i18n" name='ibm'>IBM</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.huawei.com/cn/">
                            <img src="/themes/{{staticforder}}/images/huawei.png" alt="">
                            <span class="i18n" name='huawei'>HUAWEI</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="https://www.maizuo.com">
                            <img src="/themes/{{staticforder}}/images/maizuo.png" alt="">
                            <span class="i18n" name='maizuo'>MAIZUO</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.ict.ac.cn/">
                            <img src="/themes/{{staticforder}}/images/zkyyjs.png" alt="">
                            <span class="i18n" name='caos'>Chinese Academy of Sciences</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.msra.cn/">
                            <img src="/themes/{{staticforder}}/images/wryzyjy.png" alt="">
                            <span class="i18n" name='msres'>MICROSOFT RESEARCH</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.linkvc.com/">
                            <img src="/themes/{{staticforder}}/images/ljzb.png" alt="">
                            <span class="i18n" name='linkvc'>LINKVC</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.zju.edu.cn/">
                            <img src="/themes/{{staticforder}}/images/zjdx.png" alt="">
                            <span class="i18n" name='zjdx'>Zhejiang University</span>
                        </a>
                    </div>
                    <div class="partner-item col-xs-6 col-md-3">
                        <a href="http://www.nfqbyp.com/">
                            <img src="/themes/{{staticforder}}/images/nfwjs.png" alt="">
                            <span class="i18n" name='scee'>SCEE</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-md-1">&nbsp;</div>
        <div style="clear:both"></div>
    </div>
</div>
<script>

    var distributionVm = avalon.define({
        $id: 'tokend-distribution',
        checkState: false,
        getToReg: function () {
            window.location.href = '/register.html'
        },
        checkConditions: function () {
            distributionVm.checkState = !distributionVm.checkState;
            if (distributionVm.checkState) {
                $('#pursechain-reg').removeAttr('disabled');
            } else {
                $('#pursechain-reg').attr('disabled', 'disabled')
            }
        }
    })
</script> {% endblock %}