{% extends "./public/defaultTemp.html" %} {% block content %}
<link href="/plugins/webuploader/webuploader.css" rel="stylesheet">
<script src="/plugins/webuploader/webuploader.min.js"></script>
<link rel="stylesheet" href="/plugins/intlTelInput/css/intlTelInput.css">

<div class="row reg-panel" ms-controller="register">
    <div class="center-logo">
        <div class="row" style="margin:0;">
            <div class="particles-js" id="particles-js"></div>

            <div class="col-xs-12 col-md-12 reg-container">
                <div class="top-process">
                    <ul>
                        <div class="col-xs-8 col-xs-offset-2 col-md-offset-2 col-md-8 line"></div>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe671;</i>
                            <div class="i18n txt" name="process-label-1">填写基本信息</div>
                            <i class="icon iconfont check" style="color: #d3f113">&#xe603;</i>
                        </li>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe672;</i>
                            <div class="i18n txt" name="process-label-2">上传手持身份证</div>
                            <i class="icon iconfont check">&#xe603;</i>
                        </li>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe673;</i>
                            <div class="i18n txt" name="process-label-3">等待审核</div>
                            <i class="icon iconfont check">&#xe603;</i>
                        </li>
                    </ul>
                </div>
                <div class="reg-form">
                    <div class="row">
                        <form class="form-horizontal" ms-validate="@validate">

                            <div class="col-xs-12 col-md-5 left-form">
                                <div class="form-group">
                                    <label for="telnum" class="i18n col-sm-4 control-label" name='reg-label-phoneNum'>Phone number</label>
                                    <div class="col-sm-8 input-container">
                                        <input id="phone" type="tel" class="form-control" id="inputEmail3" placeholder="" ms-duplex="@mobileno" data-required-message="mobile-请输入手机号"
                                            data-message="mobile-请输入正确的手机号" ms-rules="{required:true,number:true }">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="messageCode" class="i18n col-sm-4 control-label" name='reg-label-messageCode'>PAC</label>
                                    <div class="col-sm-8 input-container">
                                        <input type="text" class="form-control" ms-duplex="@msgCode" data-required-message="messageCode-请输入短信验证码" data-message="messageCode-请输入正确的短信验证码"
                                            ms-rules="{required:true,number:true,minlength:6,maxlength:6}">
                                        <span class="getMsgCode">
                                            <button id="sendMsgTxt" class="btn s-btn-default" ms-on-click="@sendMsgCode" type="button">点击获取</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userName" class="i18n col-sm-4 control-label" name='reg-label-userName'>User Name</label>
                                    <div class="col-sm-8 input-container">
                                        <input type="text" class="form-control" id="inputEmail3" placeholder="" ms-duplex="@userName" data-required-message="userName-请输入用户名"
                                            data-message="userName-请输入正确的用户名" ms-rules="{required:true}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="i18n col-sm-4 control-label" name='reg-label-password'>Password</label>
                                    <div class="col-sm-8 input-container">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="" ms-duplex="@password" data-required-message="password-请输入密码"
                                            data-message="password-请输入正确的密码" ms-rules="{required:true}">
                                    </div>
                                </div>
                                <div id="sub-reg" class="form-group" style="margin-top: 100px">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <button type="submit" class="i18n btn btn-default" name='submit-wallet-btn'>提交</button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-7 right-form">
                                <h5 class="i18n" name="camera-notice-title">手持身份证照片要求</h5>
                                <ol>
                                    <li class="i18n" name="camera-notice-1">手持本人身份证，将身份证的手臂和上半身拍进照片，脸部清晰且不能被遮挡；</li>
                                    <li class="i18n" name="camera-notice-2">确保身份证上的信息清晰可见、完整（没有被遮挡或被手指捏住）</li>
                                    <li class="i18n" name="camera-notice-3">照片内容要求真实有效，不得做任何修改；</li>
                                    <li class="i18n" name="camera-notice-4">仅支持jpg、jpeg、png、gif的照片格式，图片大小不超过500k</li>
                                    <li style="list-style-type: none;">
                                        <div id="uploader-demo">
                                            <!--用来存放item-->
                                            <div id="fileList" class="uploader-list"></div>
                                            <div id="filePicker">选择图片</div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/plugins/intlTelInput/js/intlTelInput.js"></script>
<script>
    $("#phone").intlTelInput({
        initialCountry: "cn",
        utilsScript: "/plugins/intlTelInput/js/utils.js"
    });
</script>
<script>
    var sendMsgErr = "短信发送失败，请重试";
    var msgNumErr = "短信次数超过限制";
    var mobileErr = "请输入正确的手机号";
    var messageCodeErr = "请输入正确的验证码";
    var userNameErr = "请输入正确的用户名";
    var passwordErr = "请输入正确的密码";
    var walletErr = "请填写正确的钱包地址";
    var normalErr = "您输入的信息有误，请重试";
    var timeoutErr = "页面已过期";
    var iptErr = "您的访问次数已超过限制，请稍后重试";

    var pmobile = '请输入手机号';
    var sImgErr = '请上传身份证照片';
    var msgCodeLable = '验证码';
    var sendBtnTxt = '点击获取';
    var reSendBtnTxt = '重新发送';
    var lateResendTxt = ' 秒后重发';
    var regSuccess = "恭喜，注册成功";
    $(function () {
        if ($('body').hasClass('type-en')) {
            cpSuccess = "Copy success!";
            cpInfo = "Please manually select the content copy of the input box!";

            sendMsgErr = "SMS sent failed, please try again";
            msgNumErr = "Number of short messages exceeded the limit";
            mobileErr = "Please enter the correct cell phone number";
            messageCodeErr = "Please enter the correct verification code";
            userNameErr = "Please enter the correct user name";
            passwordErr = "Please enter the correct password";
            walletErr = "Please fill in the correct wallet address";
            normalErr = "The information you entered is incorrect, please try again";
            timeoutErr = "Page expired";
            iptErr = "The number of visits you have had exceeded the limit. Please try again later"
            sImgErr = "Please upload ID card photo";
            pmobile = 'Please enter the cell phone number';
            msgCodeLable = 'PAC';
            sendBtnTxt = 'Send';
            reSendBtnTxt = 'Try Again';
            lateResendTxt = ' left';
            regSuccess = "Congratulations, success in registration"

        }
        $('#sendMsgTxt').html(sendBtnTxt);

        // 文件上传
        // 初始化Web Uploader
        var $list = $('#fileList')
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: '/plugins/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: '/system/upload?type=images',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '</div>'
            ),
                $img = $li.find('img');
            // $list为容器jQuery实例
            $list.append($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr('src', src);
            }, 100, 100);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('#' + file.id).addClass('upload-state-done');
            regVm.sImg = response._raw
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();

        });
    })
    var regVm = avalon.define({
        $id: 'register',
        mobileno: '',
        msgCode: '',
        userName: "",
        password: "",
        basetime: 120,
        sendMsgTxt: sendBtnTxt,
        showErr: false,
        sImg: '',
        sendMsgCode: function () {
            if (!regVm.mobileno) {
                alert(mobileErr)
            } else {
                if (!/^[1][3,4,5,7,8][0-9]{9}$/.test(regVm.mobileno)) {
                    alert(mobileErr)
                } else {
                    var areaInfo = $('.selected-flag').attr('title');
                    var areano = areaInfo.split('+')[1];
                    var mstr = '000';
                    if (areano.length < 4) {
                        areano = mstr.substring(0, 4 - areano.length) + areano;
                    }
                    // 开始发短信
                    var smsParams = {
                        mobile: areano + '-' + regVm.mobileno
                    }
                    $.ajax({
                        type: 'POST', contentType: 'application/json; charset=utf-8', // 很重要
                        traditional: true,
                        data: JSON.stringify(smsParams),
                        url: '/api/secVerify/postMessage',
                        success: function (data) {
                            console.log('success:', data)
                            if (data.state == 'success') {
                                console.log('发送成功');
                                var mytask = setInterval(function () {
                                    $('#sendMsgTxt').html(--regVm.basetime + lateResendTxt);
                                }, 1000)
                                var xx = setTimeout(function () {
                                    clearInterval(mytask)
                                    $('#sendMsg').removeAttr('disabled');
                                    $('#sendMsgTxt').html(reSendBtnTxt);
                                    regVm.basetime = 120
                                }, 1000 * regVm.basetime);
                                $('#sendMsg').prop(', ')
                            } else {
                                regVm.showErr = true;
                                regVm.message = data.message;
                                regVm.giveCurrentNotice(data.message)
                            }
                        },
                        error: function (d) {
                            console.log('error:', d)
                        }
                    })
                }
            }

        },
        giveCurrentNotice: function (msg) {
            if (msg) {
                var currentErr = normalErr,
                    timeout = false;
                if (msg < 0) {
                    currentErr = sendMsgErr;
                } else if (msg.indexOf('msgNum-') >= 0) {
                    currentErr = msgNumErr;
                } else if (msg.indexOf('mobile-') >= 0) {
                    currentErr = mobileErr;
                } else if (msg.indexOf('messageCode-') >= 0) {
                    currentErr = messageCodeErr;
                } else if (msg.indexOf('userName-') >= 0) {
                    currentErr = userNameErr;
                } else if (msg.indexOf('password-') >= 0) {
                    currentErr = passwordErr;
                } else if (msg.indexOf('sImg-') >= 0) {
                    currentErr = sImgErr;
                } else if (msg.indexOf('wallet-') >= 0) {
                    currentErr = walletErr;
                } else if (msg.indexOf('timeout-') >= 0) {
                    timeout = true;
                    currentErr = timeoutErr;
                } else if (msg == 'forbiddenIP') {
                    currentErr = iptErr;
                }
                alert(currentErr);
                timeout && window
                    .location
                    .reload();

            }
        },
        validate: {
            onError: function (reasons) {
                reasons.forEach(function (reason) {
                    console.log(reason.getMessage())
                    regVm.message = reason.getMessage();
                })
            },
            onValidateAll: function (reasons) {
                if (reasons.length > 0) {
                    console.log('有表单没有通过', reasons)
                    regVm.showErr = true;
                    regVm.message = reasons[0].message;
                    regVm.giveCurrentNotice(reasons[0].message);
                } else {
                    var areaInfo = $('.selected-flag').attr('title');
                    var areano = areaInfo.split('+')[1];
                    var mstr = '000';
                    if (areano.length < 4) {
                        areano = mstr.substring(0, 4 - areano.length) + areano;
                    }
                    if (!regVm.sImg) {
                        alert('Please update photo');
                    } else {
                        console.log('全部通过');
                        var params = {
                            userName: regVm.userName,
                            password: regVm.password,
                            msgCode: regVm.msgCode,
                            mobile: areano + '-' + regVm.mobileno
                        }
                        $.ajax({
                            type: 'POST', contentType: 'application/json; charset=utf-8', // 很重要
                            traditional: true,
                            data: JSON.stringify(params),
                            url: '/api/regCandy/addOne',
                            success: function (data) {
                                console.log('success:', data)
                                if (data.state == 'success') {
                                    alert(regSuccess);
                                    window.location.href = '/';
                                } else {
                                    regVm.showErr = true;
                                    regVm.message = data.message;
                                    regVm.giveCurrentNotice(data.message);
                                }
                            },
                            error: function (d) {
                                console.log('error:', d)
                            }
                        })
                    }
                }
            }
        }
    })
</script> {% endblock %}