{% extends "./public/defaultTemp.html" %} {% block content %}
<script src="/plugins/clipboard/dist/clipboard.min.js"></script>
<div class="row reg-panel" ms-controller="walletRegisterInfo">
    <div class="center-logo">
        <div class="row" style="margin:0;">
            <div class="particles-js" id="particles-js"></div>

            <div class="col-xs-12 col-md-12 reg-container">

                <div class="reg-form reg-union-form reg-info">
                    <div class="row">
                        <div class="col-xs-1 col-md-2"></div>
                        {% if userInfo.group == '0' %}
                        <div class="col-xs-10 col-md-8 left-form">
                            <div style="margin-bottom: 20px;">
                                <p class="i18n title1" name="unionregsuccess-userinfo-utitle">俱乐部联合创始人</p>
                                <p class="title2">
                                    <span class="i18n" name="unionregsuccess-userinfo-userName">用户名</span>: {{userInfo.userName}}
                                    <span class="i18n" name="unionregsuccess-userinfo-updatetime" style="margin-left: 20px;">审核时间</span>: {{userInfo.date}}
                                </p>
                                <div class="share-input">
                                    <div class="input-group">
                                        <span class="i18n input-group-addon" name="reg-label-invitationCode">$</span>
                                        <input id="shareLinkValue" type="text" class="form-control s-form-control" value="{{userInfo.invitationCode}}">
                                        <span class="input-group-btn">
                                            <button data-clipboard-target="#shareLinkValue" id="shareLikn-btn" class="i18n btn s-btn-default" name='copy-mycode-btn'>Copy</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </div>
                            <div class="row my-details">
                                <ul>
                                    <li class="col-xs-4 col-md-4">
                                        <span class="i18n tt" name="unionregsuccess-userinfo-sunum">推荐创始人人数</span>
                                        <span class="sc" ms-text="@myInfo.myUnionUserNum">0</span>
                                    </li>
                                    <li class="col-xs-4 col-md-4">
                                        <span class="i18n tt" name="unionregsuccess-userinfo-sendcoins">发放SEC币(枚数)</span>
                                        <span class="sc" ms-text="@myInfo.myCoins">0</span>
                                    </li>
                                    <li class="col-xs-4 col-md-4">
                                        <span class="i18n tt" name="unionregsuccess-userinfo-snnum">旗下会员数</span>
                                        <span class="sc" ms-text="@myInfo.myUserNum">0</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xs-10 col-md-8 left-form">
                            <div>
                                <p class="i18n title1" name="unionregsuccess-userinfo-ntitle">俱乐部会员</p>
                                <p class="title2">
                                    <span class="i18n" name="unionregsuccess-userinfo-userName">用户名</span>: {{userInfo.userName}}
                                    <span class="i18n" name="unionregsuccess-userinfo-updatetime" style="margin-left: 20px;">审核时间</span>: {{userInfo.date}}
                                </p>
                                <div class="share-input" style="margin-bottom: 20px;">
                                    <div class="input-group">
                                        <span class="i18n input-group-addon" name="reg-label-invitationCode">$</span>
                                        <input id="shareLinkValue" type="text" class="form-control s-form-control" value="{{userInfo.invitationCode}}">
                                        <span class="input-group-btn">
                                            <button data-clipboard-target="#shareLinkValue" id="shareLikn-btn" class="i18n btn s-btn-default" name='copy-mycode-btn'>Copy</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </div>
                            <div class="row my-coins" style="display: none;">
                                <div class="ci" ms-text="@myInfo.myCoins"></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-xs-1 col-md-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    $(function () {
        // 复制分享链接
        var slinkBtn = new Clipboard('#shareLikn-btn');
        slinkBtn.on('success', function (e) {
            alert(cpSuccess);
            e.clearSelection();
        });
        slinkBtn.on('error', function (e) {
            alert(cpInfo);
        });
        $.ajax({
            type: 'GET',
            url: '/api/unionReg/getUnoinUserInfo',
            success: function (data) {
                console.log('success:', data)
                if (data.state == 'success') {
                    walletRegisterInfoVm.myInfo = data.data;
                } else {
                    walletRegisterInfoVm.showErr = true;
                    walletRegisterInfoVm.message = data.message;
                    walletRegisterInfoVm.giveCurrentNotice(data.message);
                }
            },
            error: function (d) {
                console.log('error:', d)
            }
        })
    })
</script> {% endblock %}