{% extends "./public/defaultTemp.html" %} {% block content %}
<div class="row reg-panel" ms-controller="walletRegisterSuccess">
    <div class="center-logo">
        <div class="row" style="margin:0;">
            <div class="particles-js" id="particles-js"></div>

            <div class="col-xs-12 col-md-12 reg-container">
                <div class="top-process">
                    <ul>
                        <div class="col-xs-8 col-xs-offset-2 col-md-offset-2 col-md-8 line"></div>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe671;</i>
                            <div class="i18n txt" name="union-process-label-1">注册</div>
                            <i class="icon iconfont check">&#xe603;</i>
                        </li>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe672;</i>
                            <div class="i18n txt" name="union-process-label-2">绑定钱包地址</div>
                            <i class="icon iconfont check">&#xe603;</i>
                        </li>
                        <li class="col-xs-4 col-md-4">
                            <i class="icon iconfont">&#xe673;</i>
                            <div class="i18n txt" name="union-process-label-3">等待审核</div>
                            <i class="icon iconfont check" style="color: #d3f113">&#xe603;</i>
                        </li>
                    </ul>
                </div>
                <div class="reg-form reg-union-form">
                    <div class="row">
                        <div class="col-xs-1 col-md-3"></div>
                        <div class="col-xs-10 col-md-6 left-form reg-success">
                            <div>
                                <p class="title1">
                                    <i class="icon iconfont">&#xe670;</i>
                                    <span class="i18n" name="reg-unionuser-success-title">恭喜您完成注册</span>
                                </p>
                                <p class="i18n" style="font-size: 20px;color: #d8ff00;" name="reg-unionuser-success-waitAuth"></p>
                                {% if userInfo.group == '0' %}
                                <p class="i18n title2" name="reg-unionuser-success-notice">尊敬的用户，您已成功注册SEC社交电商俱乐部联合创始人</p>
                                {% else %}
                                <p class="i18n title2" name="reg-unionuser-success-notice1">尊敬的用户，您已成功注册SEC社交电商俱乐部联合创始人</p>
                                {% endif %}
                                <p class="i18n" name="submit-wallet-btn-waitValidatenotice"></p>
                            </div>

                        </div>
                        <div class="col-xs-1 col-md-3"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/plugins/intlTelInput/js/intlTelInput.js"></script>
<script>
    $("#phone").intlTelInput({
        initialCountry: "cn",
        utilsScript: "/plugins/intlTelInput/js/utils.js"
    });
</script>
<script>

    $(function () {

        $('#sendMsgTxt').html(sendBtnTxt);
    })
</script> {% endblock %}